html ,
body ,
#App{
   height: 100%;
   padding: 0px;
   margin: 0px;
   font-size: 20px;
   overflow-y: hidden;
   min-width: 1366px;
}
.el-breadcrumb{
   margin-bottom: 15px;
}
.el-card{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}
.el-table{
   margin-top: 15px;
}
.el-pagination{
   padding:10px 0px
}
.ql-editor{
   min-height: 300px;
}